<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HolyTuna Studio - Articles & Insights</title>
    <link rel="stylesheet" href="/styles/blogs.css">
    <link rel="stylesheet" href="/styles/site.css">
</head>
<body>

 <%- include('partials/header') %>

    <main class="blog-container">
        <header class="blog-hero">
            <h1 class="page-title">Songs</h1>
            <p class="page-subtitle">your favorite music</p>
            <a href="/pages/" class="back-home-link">← Return to Headquarters</a>
        </header>

        <section class="blog-feed">
        </section>
    </main>

    <script src="/scripts/chords.js"></script>

<%- include('partials/footer') %>
</body>
</html>